body {
    background: rgb(30,30,30);
}

.navbar.scrolled {
    background: rgb(60,60,60);
    transition: background 500ms;
}

#mainNavbar .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: rgb(173,173,173);
}

#jobtitle {
    font-weight: 700;
}

.navbar-brand span {
    color: rgb(212,212,212);
}

#mainNavbar .navbar-toggler {
    color: rgb(173,173,173);
}

#toptext {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0,122,204);
}

#toptext span {
    color: rgb(128,128,128)
}

#mainNavbar .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(0,122,204);
}

#mainNavbar .nav-link:hover {
    background: rgb(45,45,45)
}

.icons {
    color: rgba(156,220,254)
}

#contents {
    font-family: 'Montserrat', sans-serif;
    color: rgb(212,212,212)
}

.table {
    color: rgb(212,212,212);
    padding-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.sectitle {
  font-size: 1.1rem;
}

@media (max-width: 700px) {
    #toptext h1 {
        font-size: 20px;
    }
}

ul {
    font-family: 'Montserrat', sans-serif;
    color: rgb(212,212,212);
}


.jumbotron{
  background: rgb(30,30,30);
  color: rgb(212,212,212);
  padding-top: 5%;
}

.back{
    background: rgb(60,60,60);
    color: rgb(212,212,212);
}

h4 span{
    background: rgb(225, 11, 11)
}

.box {
    width: 100%;
    height: 250px;
    background-size: auto;
}

.ftr{
    background: rgb(56,56,56);
    color: rgb(212,212,212);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper {
  cursor: help;
  position: relative;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  bottom: 100%;
  color: #000;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 120%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #fff 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.bg-overlay {
   height: 100%;
   width:  100%;
   position: absolute;
   background-color:#000;
   opacity:.7;
}

.list-group-item.active {
  z-index: 2;
  color: #495057;
  background-color: #fff;
  border-color: #fff;
}

.list-group-item {
  color: #fff;
  background-color: #303030;
  border-color: #303030;
}